<nav class="green darken-4">
  <div class="container">
    <%= link_to "Blogger", root_path, class: "brand-logo" %>
    <ul class="right">
        <li><%= link_to "Signup", signup_path %></li>
        <li><%= link_to "Login", login_path %></li>
        <li><%= link_to "Logout", "#" %></li>
        <li><%= link_to "Create Blog", new_blog_path %></li>
        <li><%= link_to "Blog List", blogs_path %></li>
    </ul>
  </div>
</nav>