<nav class="green darken-4">
  <div class="container">
    <%= link_to "Blogger", root_path, class: "brand-logo" %>
    <ul class="right">
      <% if false %>
        <li><%= link_to "Signup", "#" %></li>
        <li><%= link_to "Login", "#" %></li>
        <li><%= link_to "Logout", "#" %></li>
      <% else %>
        <li><%= link_to "Create Blog", "#" %></li>
        <li><%= link_to "Blog List", blogs_path %></li>
      <% end %>
    </ul>
  </div>
</nav>